/*Window*/
.chat_window{
	background-color: white;
	box-shadow: -1px 1px 5px 0px #bdc3c7;
	display: block;
	float: none;
	clear: both;
	//padding: 12px;
	margin: 25px;
}

.chat_window_title {
	background-color: #2980b9;
	padding: 12px;
	color: white;
	font-weight: bolder;
}
.chat_window_content {

}


input[type=text]:focus {
    border: 1px solid #2980b9;
}

/*Contacts*/
.chat_contacts{
	background-color: white;
	box-shadow: -1px 1px 5px 0px #bdc3c7;
	display: block;
	float: none;
	clear: both;
	//padding: 12px;
	margin: 25px;
}

.chat_contacts_title {
	background-color: #2980b9;
	padding: 12px;
	color: white;
	font-weight: bolder;
}
.chat_contacts_content {
	//padding: 12px;
	height:500px;
}
.chat_contacts_card{
	background-color: white;
	box-shadow: -1px 1px 5px 0px #bdc3c7;
	display: block;
	float: none;
	clear: both;
	padding: 12px;	
}